<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Buscle Fitness | About</title>
    <link rel="icon" href="../static/Myproject.png" type="image/x-icon"> 
    style 
        include ../static/style1.css
</head>

<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/form">Contact Us</a></li>
        </ul>
    </nav>
    <div id="container">

        <h2 id="muss"> Buscle Fitness</h2>
        <p1 class="para"> Thank you for considering our gym for your fitness journey. We are a community-focused fitness center dedicated to helping our members achieve their health and fitness goals. Our team of experienced trainers and staff are here to support and motivate you every step of the way.</p1>
        <br>
        <br>
        <p2 class="para"> At our gym, you'll find a wide range of equipment and amenities to suit your fitness needs. Our facility is equipped with state-of-the-art cardio machines, strength training equipment, and free weights to help you reach your goals. We also offer a variety of group fitness classes, including yoga, spin, Pilates, and more. Our experienced instructors will guide you through challenging workouts and help you get the most out of your fitness routine.</p2>
        <br>
        <br>
        <p3 class="para"> In addition to our group fitness classes, we also offer personal training services. Our trainers will work with you one-on-one to create a personalized workout plan that meets your specific needs and goals. Whether you're looking to lose weight, build muscle, or simply improve your overall health and wellness, our trainers will be there to support and motivate you every step of the way.</p3>
        <br>
        <br>
        <p4 class="para"> We believe in the power of community and strive to create a welcoming, inclusive atmosphere at our gym. Our staff is dedicated to providing excellent customer service and making sure all of our members feel comfortable and supported. We have a variety of membership options to suit your needs, and we offer discounts for students, military personnel, and seniors.</p4>
        <br>
        <br>
        <p5 class="para"> In addition to our fitness facilities, we also offer a variety of amenities to make your gym experience more enjoyable. Our gym has a sauna, steam room, and hot tub to help you relax and unwind after a workout. We also have a juice bar, smoothie bar, and café, where you can grab a healthy snack or drink before or after your workout.</p5>
        <br>
        <br>
        <p6 class="para"> We are constantly striving to improve and enhance our facilities and services to better serve our members. We listen to your feedback and suggestions, and we work hard to make sure our gym is the best it can be for you.</p6>
        <br>
        <br>
        <p7 class="para"> Thank you for choosing our gym. We are honored to be a part of your fitness journey and look forward to helping you achieve your goals.</p7>
        <br>
        <br>
    </div>
</body>

</html>