<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Linking Fontawesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- Linking Flickity -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <!-- Main stylesheet -->
    <link rel="stylesheet" href="style/style.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <title> Muscle Fitness | Home </title>
    <link rel="icon" href="../static/Myproject.png" type="image/x-icon"> 
    style
        include ../static/style2.css

</head>

<body>
    <nav>
        <ul>
            <li><a id="home" href="/home">Home</a></li>
            <li><a id="about" href="/about ">About</a></li>
            <li><a id="cont" href="/contact-us">Contact Us</a></li>
            <li><a id="num">+91 8595836458</a></li>
            <li id="insta" ><a target="_blank" href="https://en.wikipedia.org/wiki/Cat"></a><img src="../static/instgram.png" alt="Instgram" width="40" height="40"></li>
            <li id="facebook" ><img src="../static/facebook.png" alt="facebook" width="40" height="40"></li>
            <li id="twitter" ><img src="../static/twitter.png" alt="twitter" width="40" height="40"></li>

        </ul>
    </nav>
    <div id="container">

        <h2 id="muss"> Muscle Fitness</h2>
        <p id="para">At our gym, we believe in empowering individuals To reach their full potential and lead a healthy lifestyle. We offer a range of equipment, classes, and personal training, To help you achieve your fitness goals and feel your best. Our dedicated team of trainers and instructors Are here to support and motivate you every step of the way. Join us and discover the transformative power of fitness, In a welcoming and inclusive community. </p>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a>
    </div>

 
    <footer>
        <h3 id="head" ><span id="heading">Our partners</span></h3>
        <section>
            <!-- Courses Carousel -->
            <div class="carousel js-flickity" data-flickity='{"wrapAround ": true }'>
                <img id="hh" src="https://upload.wikimedia.org/wikipedia/en/archive/0/05/20221129000319%21Myprotein_logo.png " alt=" " width="300 " height="200 ">
                <img id="gg" src="https://upload.wikimedia.org/wikipedia/en/6/63/MyFitnessPal_Logo.png " alt=" " width="300 " height="215 ">
                <img id="protinX" src="https://static.theprint.in/wp-content/uploads/2021/07/the-protein-week-protinex-strengthens-its-commitments-to-nutrition-by-establishing-the-role-of-protein-in-improving-quality-of-life.jpg?compress=true" alt=" " width="300 " height="205 ">
                <img id="Muscleblaze" src="https://choice.wetestyoutrust.com/sites/default/files/styles/medium/public/2022-03/7888b841-13ae-11eb-9dfd-06f7a2c059a3.png?itok=TlEOXcoE " alt=" " width="300 " height="205 ">
                <img id="GNC" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShq-1Mxcsu9hL7O2TbCFFxfNWleYjdjmY_nDvJrgQfGw&s " alt=" " width="300 " height="205 ">
                <img id="MuscleTech" src="https://yt3.ggpht.com/ytc/AMLnZu8kh_G1u8N4vmRs0VZQfcjDvQ_juCoj9f-DuZwteQ=s900-c-k-c0x00ffffff-no-rj " alt=" " width="300 " height="205 ">
            </div>
        </section>
    </footer>
</body>

</html>